@use "../imports/variables";
@use "../imports/mixins";

.page-header {
    background: variables.$background-white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;

    h1 {
        color: variables.$text-dark;
        font-size: 1.8em;
        margin: 0;
    }

    .page-actions {
        display: flex;
        gap: 10px;
        align-items: center;

        .btn-primary {
          @include mixins.nav-button;
          background: rgb(38, 137, 170);
        }

        .btn-secondary {
            @include mixins.nav-button;
        }
    }
}